<a href="https://colab.research.google.com/github/chitreshkr/Natural-Language-Processing-Python/blob/main/Complete_Text_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import spacy

In [11]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
from spacy.lang.en.stop_words import STOP_WORDS as stopword

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/twitter-data/master/twitter4000.csv',encoding='latin1',header=0)

In [4]:
df

                                                 twitts  sentiment
0     is bored and wants to watch a movie  any sugge...          0
1              back in miami.  waiting to unboard ship           0
2     @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                     ughhh i am so tired  blahhhhhhhhh          0
4     @mandagoforth me bad! It's funny though. Zacha...          0
...                                                 ...        ...
3995                                  i just graduated           1
3996          Templating works; it all has to be done            1
3997                   mommy just brought me starbucks           1
3998  @omarepps watching you on a House re-run...lov...          1
3999  Thanks for trying to make me smile I'll make y...          1

[4000 rows x 2 columns]

# Word Count

In [5]:
len('this is text')

12

In [9]:
df['word_counts'] = df['twitts'].apply(lambda x: len(str(x).split()))

In [13]:
df.sample(5)

                                                 twitts  sentiment  word_counts
2387                   Going to bed. So tired. . Night           1            7
628                                 Rain rain go away.           0            4
526   omg my cat just destroyed a family of robins t...          0           14
776   Forgot that yesterday is the expiry date for m...          0           14
1560  I hate when the song I want to listen to isn't...          0           14

In [14]:
df['word_counts'].max()

32

In [15]:
df['word_counts'].min()

1

In [16]:
df[df['word_counts']==1]

                               twitts  sentiment  word_counts
385                         homework           0            1
691                         @ekrelly           0            1
1124                    disappointed           0            1
1286                 @officialmgnfox           0            1
1325                        headache           0            1
1897                      @MCRmuffin           0            1
2542                      Graduated!           1            1
2947                         reading           1            1
3176                    @omeirdeleon           1            1
3470  www.myspace.com/myfinalthought           1            1
3966                        @gethyp3           1            1